{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ object.type }} - JISMONIY TARBIYA VA SPORT ILMIY TADQIQOTLAR INSTITUTI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% include 'includes/import_css.html' %}
</head>

<body>

  <!-- ======= Header ======= -->
  {% include 'includes/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ page }}</h2>
          <ol>
            <li><a href="{% url 'home' %}">Bosh sahifa</a></li>
            <li>{{ object.title }}</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-12">

            <article class="blog-details">
              <h2 class="title">{{ object.type }}</h2>

              <div class="meta-top">
                <ul>
                </ul>
              </div><!-- End meta top -->

              <div class="content">
                {{ object.page|safe}}
              </div><!-- End post content -->

            </article><!-- End blog post -->
          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->

  {% include 'includes/footer.html' %}

  {% include 'includes/back_to_top.html' %}

    {% include 'includes/import_js.html' %}

</body>

</html>